<section class="home">
    <img src="assets/img/main5.jpg" alt="">
    <div class="homecontent">
        <h3>The ultimate Cape Winelands experience, Country Wine Inn is dedicated to beauty in its many forms.</h3>
        <a routerLink="stay"class="btn btn-lg btn-light"> RESERVATIONS</a>&nbsp;
        
    </div>
</section>

<section class="rooms">
<h1>STAY AT WINE COUNTRY INN</h1>
<P>Experience the pinnacle of Cape Winelands hospitality.
    Positioned atop the Helshoogte Pass, delight in the unforgettable setting, panoramic views and exceptional facilities.  </P>

    <div class="row">
        <div class="rooms-col">
            
            <h3>Superior Lodges</h3>
            <p>Opening on to private decks and heated plunge pools, our 76 m² Superior Lodges each offer a living room and one bedroom. Ideal for families or couples travelling together, Superior Lodges can be interconnected.</p>
            <button  type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-light">BOOK</button>
        </div>
        <div class="rooms-col">
            <h3>Deluxe Lodges</h3>
            <p>Overlooking private leafy gardens that are in bloom every day of the year, each of our tranquil 70 m² Deluxe Lodges offers an en-suite bedroom, serene living room and private terrace with a heated plunge pool.</p>
            <button  type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-light">BOOK</button>
        </div>
        <div class="rooms-col">
            <h3>Presidential Lodge</h3>
            <p>The two-bedroom, 130 m² Presidential Lodge 1 offers a central living area with a log fireplace and large dining area, kitchen, dressing room, private 12 m heated pool and views across the vineyards towards Table Mountain.</p>
            <button  type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-light">BOOK</button>
        </div>
    </div>
</section>

<!----Latest promotions and offers-->

<section class="offers">
    <h1>LATEST PROMOTIONS AND OFFERS</h1>
    <div class="row">
        <div class="offers-col">
            <img src="assets/img/newWine1.png" alt="">
        <div class="layer">
            <h3>WINE</h3>
        </div>
        </div>
        <div class="offers-col">
            <img src="assets/img/newSpa1.jpg" alt="">
        <div class="layer">
            <h3>SPA</h3>
        </div>
        </div>
        <div class="offers-col">
            <img src="assets/img/newDine1.png" alt="">
        <div class="layer">
            <h3>DINE</h3>
        </div>
        </div>
    </div>

</section>


<!---LATEST NEWS AND STORIES FROM WINE COUNTRY INN-->
<section class="news">
    <h1>LATEST NEWS AND STORIES FROM WINE COUNTRY INN</h1>
    
    <div class="row">
        <div class="news-col">
            <img src="assets/img/dineLatest.png" alt="">
            <h3>DINE</h3>
            <p>Delaire Graff Restaurant’s Sous Chef, Robert Rainsford shares his favorite roasted red pepper and tomato soup recipe. The perfect winter warmer… Read more
             </p>
        </div>

        <div class="news-col">
            <img src="assets/img/spaLatest.jpg" alt="">
            <h3>SPA</h3>
            <p>Every act of self-kindness is a boost to your immune system. In a time when people are weary of venturing out, why not create a nurturing spa-like space in the safety of your home? Read more
             </p>
        </div>

        <div class="news-col">
            <img src="assets/img/latest.jpg" alt="">
            <h3>LATEST</h3>
            <p>A showcase of the design aesthetic for Delaire Graff Estate, the Owner’s Villa is the crown jewel of Delaire Graff. It is the ultimate refuge in the Winelands, offering complete privacy and exclusivity within a sophisticated sanctuary that spans more than 660 square metres. Read more
             </p>
        </div>
    </div>
</section>

<!---callto action-->
<section class="cta"> 
    <h1>SIGN UP TO NEWS FROM WINE COUNTRY INN</h1>
       
        <form>
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname">
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname" >
            <input type="submit" value="Submit">
        
       </form>

</section>




<!---footer-->
<section class="footer">
<h4>ABOUT US</h4>
<p>The ultimate Cape Winelands experience, Delaire Graff is dedicated to beauty in its many forms. Much like polishing a diamond to reveal its brilliance, jeweller Laurence Graff has transformed an extraordinary natural setting into a world-class destination for wine, art, cuisine and escape from the everyday.</p>
<div class="icons">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-facebook"></i>
</div>

</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Booking Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Name and Surname</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">PhoneNumber</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Number Of Guests</label>
              <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Check-In date</label>
              <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Check-Out date</label>
              <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
          
            <h1>PAYMENT DETAILS</h1>
            
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name on Card</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Card Number</label>
              <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
          <div>
          <label for="fname">Expire Date:</label>
          <input type="date" id="fname" name="fname">
          <label for="lname">CVV:</label>
          <input type="number" id="lname" name="lname" >
          
          
          </div>
            
          
          </form>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-primary">Book</button>
        </div>
      </div>
    </div>
  </div>